* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255) !important;
  /* background:linear-gradient(to left, #7b4397,#dc2430) !important; */
  height: 100vh;
  background: url("https://raw.githubusercontent.com/mizanxali/uno-online/master/client/src/assets/backgrounds/bgY.png");
}
html {
  scroll-behavior: smooth;
}
h1,
h6 {
  padding: 0.5rem;
}

.header {
  height: 10rem;
}

.img-fluid {
  width: 10rem !important;
  height: 15rem !important;

  transition: all 2s;
}
.deck {
  box-shadow: rgba(14, 13, 13, 0.4) 5px 5px, rgba(10, 10, 10, 0.3) 10px 10px,
    rgba(20, 20, 20, 0.2) 15px 15px, rgba(17, 17, 17, 0.1) 20px 20px,
    rgba(7, 7, 7, 0.05) 25px 25px;
  border-radius: 1rem;
}

.btn,
.btn2 {
  background-color: rgb(255, 0, 0) !important;
  color: rgb(251, 255, 0) !important;
  border-radius: 1.5rem !important;
  transition: all 3s;
  cursor: pointer;
  text-align: center;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bolder;
}

.abso {
  position: absolute;
}

.container {
  width: 20rem;
  height: 24rem;
}
.rw{
  background-color: burlywood;
  display: flex;
  justify-content: flex-start;

}
.nodisplay{
  display: none;
}
.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

@keyframes rotate {
  from {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
